@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
/* ctm stands for custom */
.ctm-bg-hero {
  background-image: url("./assets/login.jpg");
}
.ctm-bg-home {
  background-image: url("./assets/home.jpg");
}
.ctm-bg-tvhero {
  background-image: url("./assets/tv-series-hero.jpg");
}
.ctm-bg-moviehero {
  background-image: url("./assets/movie-hero.jpg");
}
.ctm-bg-hometitle {
  background-image: url("./assets/homeTitle.webp");
}
